body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    font-size: 2.5em;
    color: #718df1;
    margin-top: 0px;
    padding: 5px;
    box-shadow: #718df1 0px 0px 5px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -75px;
    margin-right: 20px;
    position: relative;
}

.nav-list a {
    text-decoration: none;
    border-left: 1px solid #000;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    float: left;
}

.nav-list a:hover {
    background-color: #718df1;
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

a:nth-child(1) {
    border-left: none;
}

li {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;

}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    max-width: 800px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.list-container h2 {
    font-size: 2em;
    color: #718df1;
    margin-bottom: 20px;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#add-task-btn {
    background-color: #718df1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#count {
    font-size: 20px;
    color: #718df1;
    margin-top: 5px;
}

#delete-all-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#task-list {
    margin-top: 20px;
    padding-left: 20px;
    width: 80%;
}

#task-list li {
    padding: 8px 12px;
    background: #f0f0f0;
    margin-bottom: 8px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: left;
}